@CHARSET "UTF-8";

body{font-size:12px;}

.loading{
	display: inline-block;
	width:16px;
	height:16px;
	background: url('../images/loading.gif') no-repeat;
}
.successmsg{
	overflow:auto;
	height:50px;
	display:block;
	background:url('../images/accept.png') no-repeat;
	color:green; 
	padding-left:40px; 
	line-height:15px;
}
.errormsg{
    overflow:auto;
    height:50px;
    display:block;
    background:url('../images/cancel.png') no-repeat;
    color:red; 
    padding-left:40px; 
    line-height:15px;
}
.btn_cell{
	display:table-cell;
	width:16px;
	height:16px;
}

